* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

/* ------------------------------------------------ */
/*                      POLICE                      */
/* ------------------------------------------------ */

/* Police avec import BenchNine */

@font-face {
    font-family: "BenchNine";
    src: url("font/BenchNine/BenchNine-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "BenchNine";
    src: url("font/BenchNine/BenchNine-Bold.ttf") format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "BenchNine";
    src: url("font/BenchNine/BenchNine-Light.ttf") format('truetype');
    font-style: normal;
    font-weight: lighter;
}

/* Police avec import BenchNine */

@font-face {
    font-family: "ChelaOne";
    src: url("font/Chela_One/ChelaOne-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* ------------------------------------------------ */
/*                      GENERAL                      */
/* ------------------------------------------------ */

body {
    font-size: 1.25em; 
    line-height: 1.25em;
    font-family:  "BenchNine", sans-serif;
    color: #000;
}

#wrapper {
    width: 100%;
    max-width: 1850px;
    background-color: white;
    /* border: 1px solid red; */
    padding: 0.5%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header" 
        "main-nav" 
        "main"
        "aside"
        "footer";
}

img {max-width: 100%;}
figure {width: 100%;}

/* ------------------------------------ */


/* ----- Main header  ----- */

.main-header {
    font-family: "ChelaOne", sans-serif;
    grid-area: header;
    text-align: center;
    margin-bottom: 1%;
}

.main-header > h1 {
    font-size: calc(50rem / 16);
    line-height: calc(20rem / 16);  
    margin-bottom: calc(10rem / 16);
    color: #527bea;
    background-color: white;
}

.header-grid > h1 {
    font-size: calc(32rem / 16);
    line-height: calc(20rem / 16);  
    margin-bottom: calc(10rem / 16);
    display: inline-block;
    color: white;
    background-color: #ae2123;
    padding: 1rem 1.5rem;
}

/* ----- Menu de navigation  ----- */

.main-nav {
    grid-area: main-nav;
    background-color: #ae2123;
    margin: 1% 0;
    padding: 1%;
}

.main-nav ul {
    display: flex;
    flex-direction: column;
}

.main-nav a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.main-nav a:hover {
    color: #999;
}

/*  Rechercher */

.main-nav input {
    background-color: white;
    border: 0px solid #000;
    height: 100%;
    border-radius: 15px;
    padding-left: 1rem;
}

/* ----- Main  ----- */

main {
    grid-area: main;
}

main > .grid {
    border: 1px solid #ededed;
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#container-text h1, .articles h1 {
    font-size: calc(32rem / 16);
    line-height: calc(20rem / 16);  
    margin-top: calc(10rem / 16);
    /* margin-bottom: calc(20rem / 16); */
}

#container-text {
    margin: 2rem 0;
}

.container-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.container-button a {
    background-color: #527bea;
    border-radius: 25px;
    margin: 1rem 0;
    padding: 1rem 2.5rem;
    color: white;
    text-decoration: none;
}

.container-button a:hover {
    color: #999;
    background-color: #BAF1CB;
}


/* ---- Adresse ---- */

#nom-club {
    font-size: calc(32rem/16);
}

.lire-suite {
    color: #ae2123;
    padding-left: 2rem;
    text-decoration: none;
}

/*  *** Horaire *** */

table {
    width: 100%;
    text-align: center;
}

thead {
    background-color: #527bea;
    color: white;
}

tr:nth-child(2n) {
    background-color: #858585;
    color: white;
}

.grid {
    box-shadow: 3px 2px 3px #999;
    /* border: 1px solid grey; */
}

.portfolio {
    position: relative;
}

.portfolio figcaption {
    position: absolute;
    background:hsla(218, 100%, 100%, 0.4);
	top:5%;
	left:5%;
	right:5%;
	bottom: 5%;
	display: none;
}

.portfolio a {
    text-decoration: none;
    color: white;
    background-color: #ae2123;
    padding: 0.7rem 2rem;
    font-weight: bold;
}

.portfolio:hover figcaption{
	display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio a:hover {
    background-color:#000;
    opacity: 0.5;
}

/* ----- Aside  ----- */

.aside {
    grid-area: aside;
    box-shadow: 1px 1px 10px grey;
    margin-top: 2%;
    padding: 1rem;
}

.article h1 {
    /* margin:  */
}

/* ----- footer  ----- */

footer {
    grid-area: footer;
    background-color: #ededed;
    background-image: url("img/logo.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 20%;
    margin-top: 5%;
    padding: 2rem;
}

.footer-nav {
    padding: 1%;
}

.footer-nav a {
    text-decoration: none;
    color: #000;
}

/* -------------- grand ecran --------------------- */

@media only screen and (min-width: 940px) {
    body {
        font-size: 1.5em;
    }

    .grid-container {
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas: 
            "header header header header header header header header" 
            "main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav" 
            "main main main main main main main main"
            "aside aside aside aside aside aside aside aside"
            "footer footer footer footer footer footer footer footer";
    }

    .main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-nav {
        display: flex;
        justify-content: space-between;
    }

    .main-nav ul {
        flex-direction: row;
    }

    .main-nav a {
        padding: 10px 20px;
    }

    main {
        display: grid;
        grid-template-columns: 5fr 3fr;
        grid-gap: 1em;
    }

    main > .grid {
        padding: 1rem;
        margin: 0;
    }

    .container-button {
        flex-direction: row;
        justify-content: space-evenly;
        /* align-items: ce0nter; */
    }

    .articles {
        display: grid;
        grid-template-columns: 4fr 4fr;
        grid-gap: 1em;
    }
    
    .span-row-3 {
        grid-row: span 3;
    }

    .footer-nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer-nav li {
        width: calc((100% / 3) - 1%);
    }
}